*
{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body
{
    background-color: #1D1E53;
}

#preloader
{
    width: 100vw;
    height: 100vh;
    background-color: #45474b;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 1.2s, visibility 1.2s;
}

.textBlk
{
    margin-top: -50px; 
}

.loaderLogo
{
    width: 50px;
    height: 50px;
}

.spinner
{
    width: 75px;
    height: 75px;
    border: 12px solid  #ffffff;
    border-top-color: #6165FF;
    border-radius: 50%;
    animation: spin 1.2s infinite linear;
}

.hide-preloader
{
    opacity: 0;
    visibility: hidden;
}

@keyframes spin
{
    100%
    {
        transform: rotate(360deg);
    }
}

.main-row
{
    height: 100vh;
    background-color: #1D1E53;
}

.nav-bar
{
    height: 10vh !important;
    background-color: rgba(51,51,51) !important;
}

#to-do-logo
{
    width: 48px;
}

.main-row, .loginForm, .h-100
{
    height: 75vh !important;
}

.main-row
{
    height: 90vh !important;
}

.nav-list li
{
    display: inline-block;
}

.nav-link:hover
{
    color: #6165FF;
}

#userdpBtn
{
    padding: 0.3rem 0.5rem !important;
    outline: none !important;
    border: none !important;
}

#userdpPic
{
    width: 2.5rem;
    height: 2.6rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.dropdown-menu
{
    width: 300px;
}

.dropdown-menu > li:hover, .dropdown-menu > li >a:hover
{
    background-color: #EEEEEE !important;
}

.dropdown-menu > li > button > i
{
    margin-right: 10px;
}

.todoApp
{
    height: 80vh;
    background-color: #ffffff;
    border-radius: 15px;
}

#alertMsg
{
    display: none;
}

#taskListBlk 
{
    height: 50vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#taskListBlk::-webkit-scrollbar
{
    display:none;
}

#taskName
{
    border: 3px solid #6165FF;
}

.addTaskBtn, .editBtn, .delBtn
{
   background-color: rgba(97, 101, 255,0.9) !important;
   /* cursor: pointer; */
}

.addTaskBtn
{
    border: 1px solid #6165FF !important;
}

.addTaskBtn:hover, .editBtn:hover, .delBtn:hover
{
   background-color: rgba(97, 101, 255,1) !important;
}

.task
{
    padding: 0 10px !important;
    background-color: transparent !important;
    border: none !important;
}

.tkwBorder
{
    border: 2px solid #6165FF;
}

.taskChk
{
    border: 1px solid rgb(141, 141, 141) !important;
}

.chk
{
    background-color: #6165FF !important;
}

.lineThru
{
    text-decoration: line-through !important;
    color: #6165FF !important;
}